.app {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.fixedContainer {
  position: relative;
  display: inline;
  flex-wrap: wrap;
  height: 400px;
  align-content: last baseline;

  width: 500px;
  padding: 0 20px; /* настраиваемое значение */
}

.todoInput {
  margin-bottom: 20px;
  width: 400px;
  height: 30px;
  background-color: rgb(205, 204, 202);
}

.todosContainer {
  margin-top: 60px;
}

.todoItem {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  color: rgb(97, 48, 48);
  text-align: center;
}
.toggleInput {
  width: 400px;
  height: 30px;
  padding: 5px;
  margin: 1px;
  border: #fff;
  background: #fff;
  color: black;
}

.error {
  color: red;
}
