.todos {
  display: flex;
  align-items: center;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.completed-circle {
  background-color: green;
}

.not-completed-circle {
  background-color: red;
}
